@include responsive768px() {
  .wrapper-layout-user {
    display: flex;
  }

  .wrapper_index_header_tab_1 {
    & h1 {
      display: flex;
    }
  }

  .wrapper_index_header_tab_2_input {
    width: 400px;
  }
}
