$color-one: #ddd;
.wrapper-card {
  cursor: pointer;
  width: 100%;
  text-align: center;
  position: relative;

  &,
  & img {
    transition: all ease-in-out 0.5s;
  }

  & img {
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
  }

  &:hover {
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.1);
    background-color: #fff;
    & img {
      border-radius: 0px;
    }
  }
}
