.wrapper-user {
  text-align: center;
  & img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  & img,
  & h1 {
    transition: all ease-in-out 0.5s;
  }
}

.wrapper-menu.hidden-menu {
  .wrapper-user {
    & h1 {
      opacity: 0;
      position: absolute;
      left: -9999px;
    }
    & img {
      width: 30px;
      height: 30px;
    }
  }
}
