.wrapper-login {
  padding-top: 30px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.wrapper-card-form-title {
  justify-content: center;
  display: flex;
  & > div {
    display: flex;
    flex-direction: row;
  }
}
